body{
    margin: 0px;
    background-color: rgb(122, 255, 255);
    text-align: center;
}

h1{
    font-family: 'Gluten', cursive;
    font-size: 50px;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > button{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: whitesmoke;
    border: 5px rgb(213, 76, 255) solid;

}

footer{
    font-family: 'Gluten', cursive;
    font-size: 20px;
}

.a{
    background-image: url("images/crash.png");
    object-fit: contain;
}

.s{
    background-image: url("images/tom1.png");
    object-fit: fill;
}

.d{
    background-image: url("images/tom2.png");
}

.f{
    background-image: url("images/snare.png");
}

.g{
    background-image: url("images/tom3.png");
}

.h{
    background-image: url("images/tom4.png");
}

.j{
    background-image: url("images/kick.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 #3ecbfa;
    opacity: 0.5;
  }